<h3>Hii, Guest</h3>
<a href="dashboard"><b>DashBoard</b></a> |
<a href="role"><b>Role</b></a> |
<a [routerLink]="['/roleList']"><b>Role List</b></a> |
<a [routerLink]="['/user']"><b>Add User</b></a> |
<a [routerLink]="['/userList']"><b>User List</b></a> |
<a [routerLink]="['/college']"><b>Add College</b></a> |
<a [routerLink]="['/collegeList']"><b>College List</b></a> |
<a [routerLink]="['/student']"><b>Add Student</b></a> |
<a [routerLink]="['/marksheet']"><b>Add Marksheet</b></a> |
<a [routerLink]="['/marksheetList']"><b>Marksheet List</b></a> |
<a [routerLink]="['/course']"><b>Add Course</b></a> |
<a [routerLink]="['/courseList']"><b>Course List</b></a> |
<a [routerLink]="['/subject']"><b>Add Subject</b></a> |
<a [routerLink]="['/subjectList']"><b>Subject List</b></a> |
<a [routerLink]="['/timetable']"><b>Add Timetable</b></a> |
<a [routerLink]="['/timetableList']"><b>Timetable List</b></a> |
<a [routerLink]="['/faculty']"><b>Add Faculty</b></a> |
<a [routerLink]="['/faculty']"><b>Faculty List</b></a>
<hr>